@use '../utils/utils' as utils;
@use '../utils/palette' as palette;

.section {
    max-width: 1200px;
    @include utils.breakpointUp('md'){
        width: 100%;
    }
    &__title {
        margin-bottom: 2rem;
        color: palette.getColor(primary);
        background: palette.getColor(secondary);
        width: fit-content;
        padding: 0.1rem 0.5rem;
        @include utils.fontSize('800');
    }
}