---
import '../../styles/projectsSection.scss';
import DashedSeparator from '@components/DashedSeparator.astro';
import ProjectCard from '@components/ProjectCard.astro';

const projects = (await Astro.glob('../../pages/projects/*.{md,mdx}'))
    .sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<section class='section projects-section'>
    <h2 class='section section__title'>
        My recent projects
    </h2>
    {
        projects.map((project, index) => {
            return <>
                {index > 0 ? <DashedSeparator dashes={2} length="3rem"/> : null} 
                <ProjectCard project={project} />
            </>})
    }
</section>