---
import '../../styles/projectsSection.scss';
---

<section class='section projects-section'>
    <h2 class='section section__title'>
        My recent projects
    </h2>
    {
        /* Here I map projects cards */
    }
</section>