---
import '../../styles/quoteblock.scss';
---

<div class="quote-block">
    <p class='quote-block__content'>
        {'Never rate something 10/10, becouse'}
        <br />
        {'there\'s always something to improve'}
    </p>
</div>