---
import '../../styles/quoteblock.scss';
interface Props {
    variant?: 'primary' | 'secondary' | 'trietary' | 'pale'
    isBgBlur?: boolean;
}
const { variant = 'primary', isBgBlur } = Astro.props;
---

<blockquote class={`quote-block${isBgBlur ? '--blured' : ''}`}>
    <div class={`quote-block__content${variant ? `--${variant}` : ''}`}>
        <slot />
    </div>
</blockquote>