---
import '../../styles/quoteblock.scss';
---

<div class="quote-block">
    <p class='quote-block__content'>
        {'Never rate something 10/10,'}
        <br />
        {'because there\'s always something'}
        <br />
        {'to improve'}
    </p>
</div>