---
import WorkCard from '@components/WorkCard.astro';
import '../../styles/workSection.scss';
import synapseLogo from '@data/synapseLogo.png';
---

<section id="experience" class="work-section">
    <h2 class="work-section__title">Work experience</h2>
    <div class="work-section__content-wrapper">
        <WorkCard work={{
            company: {
                logo: synapseLogo,
                name: 'Synapse Network'
            },
            office: "Front-end Developer",
            description: 'Adding new functionalities and working on Synapse-as-a-service',
            workLink: 'link'
        }}/>
    </div>
</section>