@use './utils/palette' as palette;
@use './utils/utils' as utils;

.core-footer {
    background-color: palette.getColor(trietary);
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    position: sticky;
    top: 100%;
    &__link, &__author {
        @include utils.fontSize('500');
    }
    &__link {
        color: palette.getColor(secondary);
    }
    &__author {
        color: palette.getColor(background, light);
    }
}