@charset 'UTF-8';
@use './utils/palette' as palette;
@use './utils/utils' as utils;
@use './components/button';
@use './components/stack';
@use './components/section';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin pageBackground() {
    background: url('../data/BackgroundImage.svg');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Outfit', sans-serif;
    @include utils.fontSize('400');
}

html body {
    background: url('../data/BackgroundImage.svg');
    background-color: palette.getColor(background);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem 0;
    @include utils.breakpointDown('lg'){
        padding: 2rem 3rem;
    }
    @include utils.breakpointDown('md'){
        padding: 1rem 1rem 0;
    }
}

.container {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    @include utils.breakpointDown('md') {
        padding: 0rem 2rem;
    }
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    list-style: none;
    &--horizontal {
        @extend .list;
        flex-direction: row;
    }
}

.section {
    max-width: 1200px;
    @include utils.breakpointUp('md'){
        width: 100%;
    }
    &__title {
        margin-bottom: 2rem;
        @include utils.fontSize('700');
    }
}