@use './utils/palette' as palette;
@use './utils/utils' as utils;
@use './utils/animations' as animations;

.blog-page__container .core-header {
    background-color: palette.getColor(trietary);
}
.core-header {
    width: 100%;
    background-color: palette.getColor(primary);
    z-index: 2;
    &__wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1920px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem;
        @include utils.breakpointDown('lg'){
            padding: 1rem 3rem;
        }
    }
    @include utils.breakpointDown('md') {
        padding: 1rem 0;
    }
}

.navigation {
    &__mobileListWrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        padding: 2rem 4rem 3rem;
        background-color: #{palette.getColor(trietary)}bb;
        backdrop-filter: blur(4px);
        z-index: 2;
    }
    &__list {
        .list__element {
            a {
                text-transform: capitalize;
                color: palette.text-contrast(palette.getColor(trietary));
                font-weight: bold;
                @include utils.breakpointDown('md') {
                    @include utils.fontSize('600');
                }
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    height: 2px;
                    width: 0%;
                    transition: width 0.3s;
                }
                @include utils.breakpointUp('md'){
                    &:hover {
                        &::before {
                            width: 100%;
                            background-color: palette.getColor(secondary);
                        }
                    }
                }
            }
        }
    }
    &__mobileSocials {
        .list>.list__element{
            a {
                fill: palette.text-contrast(palette.getColor(trietary));
            }
        }
    }
}
