@use './palette' as palette;
@use './utils' as utils;

.hero-section {
    margin-top: 3rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    @include utils.breakpointUp('md') {
        flex-direction: row;
        justify-content: space-between;
    }

    &__title, &__text, &__highlight {
        text-align: center;
        @include utils.fontSize('600');
        @include utils.breakpointUp('md') {
            text-align: left;
        }
    }
    
    &__title {
        @include utils.fontSize('900');
    }

    &__highlight {
        color: palette.getColor(primary);
        font-weight: bold;
    }

    &__stack {
        justify-content: center;
        gap: 1rem;
    }
}
