@use './palette' as palette;
@use './utils' as utils;

.quote-block {
    margin: 2rem 0;
    &__content {
        @include utils.fontSize('600');
        color: palette.getColor(primary);
        font-weight: bold;
        
    }
}