@use './utils/palette' as palette;
@use './utils/utils' as utils;

.quote-block {
    margin: 6rem 0;
    &__content, &__highlight {
        @include utils.fontSize('700');
    }
    &__content {
        color: palette.getColor(primary);
        position: relative;
        text-align: center;
        font-style: italic;
        z-index: 0;
        &::before {
            content: '\"';
            position: absolute;
            top: -.5ch;
            left: -.2ch;
            color: palette.getColor(primary);
            font-weight: bold;
            font-size: clamp(6.61rem, 6.02rem + 5.23vw, 10.9rem);
        }
    }
}