@use './utils/palette' as palette;
@use './utils/utils' as utils;

.quote-block {
    margin: 6rem 0;
    padding: 2rem;
    border-radius: 20px;
    width: fit-content;
    &--blured {
        @extend .quote-block;
        background: #ffffff30;
        backdrop-filter: blur(4px);
    }
    &__content {
        position: relative;
        text-align: center;
        font-style: italic;
        z-index: 0;
        p {
            @include utils.fontSize('700')
        }
        &::before {
            content: '\"';
            position: absolute;
            top: -.5ch;
            left: -.4ch;
            color: palette.getColor(primary);
            font-weight: bold;
            font-size: clamp(6.61rem, 6.02rem + 5.23vw, 10.9rem);
        }
        &--primary {
            @extend .quote-block__content;
            $color: palette.getColor(primary);
            p {
                color: $color;
            }
            &::before {
                color: $color;
            }
        }
        &--secondary {
            @extend .quote-block__content;
            $color: palette.getColor(secondary);
            p {
                color: $color;
            }
            &::before {
                color: $color;
            }
        }
        &--trietary {
            @extend .quote-block__content;
            $color: palette.getColor(trietary);
            p {
                color: $color;
            }
            &::before {
                color: $color;
            }
        }
        &--pale {
            @extend .quote-block__content;
            $color: palette.text-contrast(palette.getColor(trietary));
            p {
                color: $color;
            }
            &::before {
                color: $color;
            }
        }
    }
}