//? colors

$brightYellow: #ffd60a;
$yellow: #ffc300;
$blue: #003566;
$darkBlue: #001d3d;
$black: #000814;

$font: "Montserrat";
$altFont: "Source Sans Pro";
$codeFont: "Source Code Pro";
$heroPic: url("../../images/keyboardHeroImage.jpg");
$aboutPic: url("../../images/mountains.jpg");
$backPic: url("../../images/enoddavatar.png");
