//? colors


$brightYellow: #FFD60A;
$yellow: #FFC300;
$blue: #003566;
$darkBlue: #001d3d;
$black: #000814;


$font: "Montserrat";
$altFont: "Source Sans Pro";
$heroPic: url("../../images/anas-alshanti-feXpdV001o4-unsplash.jpg");