---
import BaseHead from '@components/BaseHead.astro';
import HeroSection from '@views/HomePage/heroSection.astro';
import PageLayout from '@layouts/PageLayout.astro';
import QuoteBlock from '@views/HomePage/QuoteBlock.astro';
import { SiteConfig } from '@models/config';
import DashedSeparator from '@components/DashedSeparator.astro';
const { site } = SiteConfig;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={site.title} description={site.description} />
	</head>
	<body>
		<PageLayout>
			<HeroSection />
			<QuoteBlock />
			<DashedSeparator />
			<section id='about' style={{ marginTop: '200vw' }}>
				EHE, DE NANDAYO
			</section>
		</PageLayout>
	</body>
</html>
