---
import BaseHead from "@components/BaseHead.astro";
import { config } from "../config";
import { Button } from "@nextui-org/react";
---

<html>
  <BaseHead title="Home" page={config.appPage} />
  <body>
    <div>hello</div>
    <Button color="secondary" client:load>Hello</Button>
  </body>
</html>
