---
import BaseHead from '@components/BaseHead.astro';
import HeroSection from '@views/HomePage/heroSection';
import PageLayout from '@layouts/PageLayout.astro';
import QuoteBlock from '@views/HomePage/QuoteBlock.astro';
import { SiteConfig } from '@models/config';
import DashedSeparator from '@components/DashedSeparator.astro';
import ProjectsSection from '@views/HomePage/ProjectsSection.astro';
import WorkExperienceSection from '@views/HomePage/WorkExperienceSection.astro';

const { site } = SiteConfig;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={site.title} description={site.description} />
	</head>
	<body>
		<PageLayout>
			<HeroSection />
			<QuoteBlock>
				<p>
					{'Never rate something 10/10,'}
        			<br />
        			{'because there\'s always something'}
        			<br />
        			{'to improve'}
				</p>
			</QuoteBlock>
			<DashedSeparator dashes={5} />
			<WorkExperienceSection />
			<DashedSeparator dashes={5} />
			<ProjectsSection />
		</PageLayout>
	</body>
</html>
