---
import BaseHead from '@components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import HeroSection from '@views/HomePage/heroSection.astro';
import PageLayout from '@layouts/PageLayout.astro';
import '../styles/global.scss';
import QuoteBlock from '@views/HomePage/QuoteBlock.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<PageLayout>
			<HeroSection />
			<QuoteBlock />
			<section id='about' style={{marginTop: '200vw'}}>
				hehe
			</section>
		</PageLayout>
	</body>
</html>
