@use 'sass:color';

$main: #ffba00;
$secondaryMain: #0066ff;
$trietaryColor: #ff0080;
$backgroundColor: #02212c;
$orangeFlare: #ba5721;
$disabled: #535353;

$lighten: 25%;
$darken: 15%;

$colors: (
    primary: (
        base: $main,
        light: color.scale($main, $lightness: $lighten),
        dark: #FF7600,
    ),
    secondary: (
        light: lighten($secondaryMain, $lighten),
        base: $secondaryMain,
        dark: darken($secondaryMain, $darken),
    ),
    trietary: (
        light: lighten($trietaryColor, $lighten),
        base: $trietaryColor,
        dark: darken($trietaryColor, $darken),
    ),
    background: (
        orangeFlare: $orangeFlare,
        base: $backgroundColor,
        blueFlare: #00ffff,
        magentaFlare: $trietaryColor,
    ),
);

@function getColor($base, $shade: base) {
    @if ($base == disabled) {
        @return $disabled;
    }
    @if ( $base == background and ($shade == light or $shade == dark) ){
        @return $backgroundColor;
    } 
    $color: map-get(map-get($colors, $base), $shade);
    @return $color;
}

@mixin text-contrast($n) {
    $color-brightness: round(calc(((red($n)*299) + (green($n)*587) + (blue($n)*114))/1000));
    $light-color: round(calc(((red(#ffffff)*299) + (green(#ffffff)*587) + (blue(#ffffff)*114)) /1000));
    @if abs($color-brightness) < calc($light-color/2){
      color: white;
    } @else {
      color: black;
    }
  }
