@use 'sass:color';

$main: #1E0F5B;
$secondaryMain: #ffbb00;
$trietaryColor: #000000;
$backgroundColor: #ffbb00;
$disabled: #535353;

$lighten: 25%;
$darken: 15%;

@function text-contrast($n) {
    $color-brightness: round(calc(((red($n)*299) + (green($n)*587) + (blue($n)*114))/1000));
    $light-color: round(calc(((red(#ffffff)*299) + (green(#ffffff)*587) + (blue(#ffffff)*114)) /1000));
    @if abs($color-brightness) < calc($light-color/2){
        @return #ffffff;
    } @else {
        @return #000000;
    }
}


$colors: (
    primary: (
        base: $main,
        light: color.scale($main, $lightness: $lighten),
        dark: darken($main, $darken),
        contrast: text-contrast($main)
    ),
    secondary: (
        light: lighten($secondaryMain, $lighten),
        base: $secondaryMain,
        dark: darken($secondaryMain, $darken),
    ),
    trietary: (
        light: lighten($trietaryColor, $lighten),
        base: $trietaryColor,
        dark: darken($trietaryColor, $darken),
    ),
    background: (
        base: $backgroundColor,
    ),
);

@function getColor($base, $shade: base) {
    @if ($base == disabled) {
        @return $disabled;
    }
    @if ( $base == background and ($shade == light or $shade == dark) ){
        @return $backgroundColor;
    } 
    $color: map-get(map-get($colors, $base), $shade);
    @return $color;
}

