$breakpoints-up: (
  "sm": "600px",
  "md": "900px",
  "lg": "1200px",
  "xl": "1600px",
);

$breakpoints-down: (
  "sm": "600px",
  "md": "900px",
  "lg": "1200px",
  "xl": "1600px",
);

$fonts: (
  "300": clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem),
  "400": clamp(0.88rem, 0.83rem + 0.24vw, 1rem),
  "500": clamp(1.09rem, 1rem + 0.47vw, 1.33rem),
  "600": clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem),
  "700": clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem),
  "800": clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem),
  "900": clamp(2.67rem, 2.07rem + 3vw, 4.21rem),
  "1000": clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem),
);

@mixin breakpointUp($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpointDown($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
@mixin fontSize($size) {
    font-size: map-get($fonts, $size);
}