@import "../variables.scss";
@import "../mixins.scss";
.core-header{
	height: fit-content;
	width: 100%;
	background-color: #{$darkBlue}00;
	padding: 1rem 4rem;
	@include flex(row, center, center);
	position: fixed;
	top: 0;
	transition: 0.3s ease-in-out;
	z-index: 2;
	&__title{
		font-family: $font;
		color: $yellow;
		&:first-letter{
			text-transform: uppercase;
		}
		cursor: default;
		user-select: none;
		&wrapper{
			@include flex(row, flex-start);
			width: fit-content;
		}
	}
}
.navigation{
	width: 100%;
	max-width: 1920px;
	@include flex(row, space-between);
	&__list{
		@include flex(row, center,center);
		gap: 2rem;
	}
	&__element{
		list-style: none;
	}
	&__anchor{
		color: white;
		position: relative;
		width: fit-content;
		&:after{
			content:"";
			width: 0%;
			height: 2px;
			top: 100%;
			left: 0%;
			position: absolute;
			background-color: white;
			transition: 0.3s;
		}
		&:hover{
			&:after{
				width: 100%;
			}
		}
	}
}

.logo{
	width: 5%;
}