@import "../mixins.scss";
@import "../variables.scss";

.section {
  transform: translateX(100%);
  opacity: 0;
  transition: 1.3s ease-in-out;
  &__title {
    margin: 1rem 0;
    padding: 0 1ch;
    @include fontSize("600");
    color: white;
    @include size(fit-content);
    position: relative;
    &::before {
      content: "";
      background: $yellow;
      @include size(0.65rem, 100%);
      position: absolute;
      left: 0;
    }
  }
  &__description {
    margin-bottom: 1.5rem;
    padding: 0 2ch;
    @include fontSize("400");
    color: white;
    width: 75%;
  }
}
.show {
  transform: translateX(0);
  opacity: 1;
}
