---
import Footer from '@layouts/Footer/Footer.astro';
import { Header } from '@layouts/Header/Header';
import '../styles/global.scss';
---

<div class="container">
    <Header client:load />    
    <main>
        <slot />
    </main>
    <Footer />
</div>