@import "../mixins.scss";
@import "../variables.scss";

.technologies {
  &__showcase {
    margin: 0 auto;
    width: 60%;
    @include breakpoint-up("large") {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include gridgap(1rem, 1rem);
    }
    @include breakpoint-down("medium") {
      @include flex();
      flex-wrap: wrap;
      gap: 1rem;
    }
    @include breakpoint-down("small") {
      width: 80%;
    }
    &__element {
      position: relative;
      @include size(100%, 12rem);
      border: 1px solid white;
      border-radius: 1rem;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease-in-out;
      }
      p {
        @include fontSize("500");
        font-weight: bold;
        color: white;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.3s $transitionTime;
      }
      @include breakpoint-up("large") {
        &:hover {
          img {
            top: 40%;
          }
          p {
            top: 80%;
            opacity: 1;
          }
        }
      }
      @include breakpoint-down("medium") {
        img {
          top: 40%;
        }
        p {
          top: 80%;
          opacity: 1;
        }
      }
    }
  }
}
