---
import '../../styles/footer.scss';
import dayjs from "dayjs";
import { SiteNavigations } from '@models/SiteNavigations';
import { SiteConfig } from '@models/config';

const currentYear = dayjs().get('year');
---
<footer class='core-footer'>
    <a
    target='_blank'
    href={SiteNavigations.Github} 
    class='core-footer__link'>
        {currentYear} Made by 
        <span class="core-footer__author">
            {SiteConfig.author.name}
        </span>
        All rights reserved.
    </a>
</footer>